*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'Avenir';
    src: url(/Project/avenir-next/AvenirNextCyr-Medium.ttf);
}
div.try{
    display: flex;
}
div.try a{
    background-color: #813117;
    flex-grow: 1;
    text-align: center;
    color: white;
    padding: 17px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
}

/*  */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px 0px;
    gap: 30px;
}
header main.main1 img{
    width: 25px;
}
header main.main2 img{
    width: 25px;
}

header main.main3{
    flex-grow: 1.4;
}
header main.main4{
    flex-grow: 1;
}
header main.main5{
    position: relative;
}
header main.main3 ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}
header main.main3 ul li a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
}

header main.main6 a{    
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
}
header main.main5 input{
    border-radius: 8px;
    padding: 5px 30px;
    font-size: 16px;
    border: 1px solid black;
}
::placeholder{
    color: black;
}
header main.main5 span{
    position:  absolute;
    top: calc(50% - 7.5px);
    left: 10px;
}
header main.main5 span svg{
    width: 15px;
    height: 15px;
}
/* -------- */
nav{
    display: flex;
    justify-content: center;
}
nav main{
    flex-grow: 1;
}
nav>ul{
    display: flex;
    list-style-type:none;
    justify-content: center;
    gap: 20px;
}
nav>ul>li{
    position: relative;
}
nav>ul>li>a{
    color: black;
    display: inline-block;
    text-decoration: none;
    font-family: 'Avenir';
    font-size: 13px;
    padding:5px;
    border-radius: 4px;
}
.active{
    color: white;
    background-color: #507d3c;
}

li>ul.Combo{
    display: none;
    position: absolute;
    background-color: white;
    list-style-type: none;
    width: 150px;
    padding: 20px 10px;
    box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.568),-1px 0px 4px  rgba(128, 128, 128, 0.568);
    border-top: 2px solid black;
    margin-top: 5px;
}
li>ul.Combo>li>a{
    display:block;
    padding: 5px 20px;
    margin-bottom: 8px;
    color: black;
    text-decoration: none;
    font-family: 'Avenir';
}
nav>ul>li:hover ul.Combo{
    display: block;
}